body {
	margin:0px 0px 0px 0px;
}

div#CONTROLS_CONTAINER
{
	text-align:center;
	margin-top:2px;
}

div#CONSOLE_CONTAINER
{
	font-weight:bold;
	width:250px;
	border:2px inset #000000;
	background-color:#CECEFF;
}

div#CONSOLE_MESSAGES
{
	width:245px;
	background-color:#EDEDFF;
	overflow:auto;
}

canvas#CANVAS
{
	position:absolute;
	border-left:1px solid #000000;
}
